.container {
  flex: 1;
  max-width: 690px;
  @media (max-width: 780px) {
  }
  .SearchWindow {
    display: flex;
    align-items: center;
    justify-content: end;
    svg {
      color: rgba(176, 176, 176, 0.8);
    }
    .search_absolutHidden {
      position: absolute;
      top: -100px;
      left: 0;
      right: 0;
      opacity: 0;
      z-index: -10;
    }
    .search_absolut {
      position: absolute;
      height: 59px;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgb(31, 31, 31);
      transition: 0.3s ease;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 0.25rem 0px 0.75rem;

      .titleOfDropdown {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-right: 10px;
        color: white;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        img {
          width: 20px;
          height: 20px;
          filter: brightness(0) invert(1);
        }
      }

      .input {
        display: flex;
        align-items: center;
        width: 100%;
        height: 30px;
        background-color: transparent;
        border-top-right-radius: 5px;
        border-end-end-radius: 5px;
        input {
          width: 100%;
          padding: 7px;
          color: white;
        }
        .SearchIcon {
          img {
            width: 30px;
            height: 30px;
          }
        }
      }

      &.focused {
        border: 2px solid #d4af37;
        border-radius: 5px;
      }
      .cross {
        display: inline-block;
        margin-right: 10px;

        span {
          display: inline-block;
          transform: rotate(45deg);
          font-size: 2rem;
          font-weight: 350;
          color: white;
        }
      }
    }
  }
  &__content {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    .dropdown_box {
      display: flex;
      align-items: center;
      background-color: white;
      padding: 5px 15px;
      border-right: 1px solid gray;
      border-top-left-radius: 5px;
      border-end-start-radius: 5px;

      cursor: pointer;

      p {
        color: black;
        font-weight: bold;
      }
      img {
        width: 20px;
        height: 20px;
      }
    }
    .dropDown {
      position: absolute;
      top: 35px;
      left: 0;
      background-color: #1f1f1f;
      border-radius: 5px;
      z-index: 5;
      ul {
        padding: 5px 0px;
        li {
          cursor: pointer;
          display: flex;
          align-items: center;
          width: 235px;
          gap: 10px;
          padding: 0.75rem 1rem;
          color: white;
          transition: color 0.2s ease, filter 0.2s ease;
          span {
            color: gray;
          }
          &.selected {
            color: #d4af37;
            span {
              color: #d4af37;
            }
            &:hover {
              filter: none;
            }
          }
          &:hover {
            filter: brightness(1.5);
            background-color: #333333;
          }
        }
      }
    }
    .input {
      display: flex;
      align-items: center;
      width: 100%;
      height: 30px;
      background-color: white;
      border-top-right-radius: 5px;
      border-end-end-radius: 5px;
      input {
        width: 100%;
        padding: 7px;
      }
      .SearchIcon {
        img {
          width: 30px;
          height: 30px;
        }
        span {
          padding: 0px 5px;
          display: inline-block;
          transform: rotate(45deg);
          font-size: 2rem;
          font-weight: 250;
          color: black;
          cursor: pointer;
        }
      }
    }
    &.focused {
      border: 2px solid #d4af37;
      border-radius: 5px;
    }
  }
  .drawerUp {
    display: none;
  }

  .drawerUpActive {
    position: fixed;

    left: 0;
    bottom: 100%;
    width: 100%;
    transform: translateY(100%);
    height: 100vh;
    background: rgba(31, 31, 31, 0.5);
    display: flex;
    align-items: end;
    z-index: 100;
    &__content {
      position: relative;
      width: 100%;
      background-color: rgb(31, 31, 31);
      padding: 0.5rem 0;
      .cross {
        position: absolute;
        right: 0;
        top: -45px;
        margin: 10px;
        color: rgba(253, 253, 253, 0.866);
        font-size: 2rem;
        font-weight: 250;
        transform: rotate(45deg);
      }
      li {
        display: flex;
        align-items: center;
        padding: 0.75rem 1rem;
        color: rgba(255, 255, 255, 0.8);
        svg {
          margin-right: 0.75rem;
        }
      }
      .active {
        color: rgb(245, 197, 24);
      }
    }
  }
}
